body{
    background-color:white;
}

#post-detail-nav{

background-color:green;

}

#post-detail-section{
    background-color:gray;
}

#post-detail-footer{
    background-color:blue;
}