div.UploadPage {
  display: flex;
  align-items: stretch;
  background-color: #fafafa;
  section{
    display: flex;
    flex-flow: row nowrap;
    flex-grow: 1;
    margin: 0 auto;
    width: 100%;
    max-width: 935px;
    div.Content {
      background-color: white;
      float: left;
      margin-right: 28px;
      max-width: 614px;
      width: 100%;
    }
    div.inforUser{
      background-color: #fafafa;
      height: 100vh;
      margin-bottom: 30px;
      padding: 0;
      top: 60px;
    }

  }
}

input.UploadPage{
  position: relative;
  font-size: 0;
  input.input{
    font-size: 16px;
    padding: 10px;
    width: 75%;


    outline: none;
  }
  input.button{
    font-size: 16px;
    padding: 10px;
    width: 10%;
    display: inline-block;
    cursor: pointer;
    outline: none;
    background-color: #eee;
  }
  input.link{
    width: 50%;
  }
  input div.comment{
    width: 80%
  }
}
.thumb{
  width: 500px;
  height: 500px;
  background-color: #3e3e3e;
  background-image: none;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}