div.UploadPage {
  display: flex;
  align-items: stretch;
  background-color: white;
  box-sizing: border-box;
  font-family: sans-serif;

  div.header {
    h2 {
      color: red;
    }
  }

  img.heartUpload {
    width: 330px;
  }

  section {
    display: flex;
    flex-flow: row nowrap;
    flex-grow: 1;

    max-width: 935px;
    div.content {
      background-color: white;
      align-items: center;
      margin: 0 auto;

      width: 100%;
      border-radius: 3px;

      div.header {
        text-align: center;
        padding-top: 13px;
        padding-bottom: 13px;

      }

      div.img_upload {
        width: 100%; //614px
        height: auto;
        border: 3px dashed darkgray;

        img.thumb {
          height: auto;
          width: 80%;
          top: auto;
          left: 243px;
          margin: 0 auto;
          image-rendering: pixelated;
          margin-left: 80px;
        }
      }

      form.informationUpload {

        input.link {
          width: 75%;
          margin-top: 4px;
          margin-left: 10px;
          box-sizing: border-box;
          padding-bottom: 5px;
          padding-top: 5px;
          border-left: #cfcfcf;
          border-top: 1px solid #cfcfcf;
          border-left: 1px solid #cfcfcf;
          border-right: 1px solid #cfcfcf;
          border-radius: 3px;

        }

        button.link_button {
          width: 10%;
          padding-top: 7px;
          padding-bottom: 5px;
          border: 2px solid deepskyblue;
          background-color: deepskyblue;
          color: white;
          font-family: sans-serif;
          border-radius: 3px;
          margin-left: 2px;
          margin-top: 4px;
          cursor: pointer;
        }

        input.caption {
          height: 100%;
          padding: 0 15px 150px;
          text-align: left;
          min-height: 200px;
          font-size: 15px;
          width: 100%;
          margin-top: 20px;
          border: 4px solid #efefef;
        }

        button.button_form {
          float: right;
          background-color: deepskyblue;
          margin-top: 5px;
          margin-bottom: 10px;
          min-width: 150px;
          display: inline-block;
          vertical-align: middle;
          line-height: 100%;
          cursor: pointer;
          font-weight: 700;
          text-align: center;
          padding: 12px 15px;
          font-size: 17px;
          text-shadow: 0 1px 1px rgba(0, 0, 0, .1);
          border-radius: 7px;
          transition: all .1s ease-in-out;
          text-rendering: auto;
          border: 1px solid white;
          color: white;
          padding-bottom: 11px;
        }

        button.button_form:hover {
          background-color: #ff3228;
        }
      }
    }
  }
}







