.ResetPassword {
  background-color: #fafafa;

  .Main {
    align-items: stretch;
    border: 0 solid #000;
    box-sizing: border-box;
    display: flex;
    flex-shrink: 0;
    margin: 0;
    padding: 0;
    position: relative;

    .MidContent {
      background-color: #fff;
      border: 1px solid #dbdbdb;
      border-radius: 3px;
      margin: 60px auto 0;
      max-width: 935px;
      overflow: hidden;
      width: 100%;
    }
  }
}

@media (max-width: 965px) {
  .ResetPassword {
    .Main {
      .MidContent {
        margin-left: 15px;
        margin-right: 15px;
      }
    }
  }
}

@media (max-width: 450px) {
  .ResetPassword {
    .Main {
      .MidContent {
        margin: 0;
      }
    }
  }
}