.Reset {
  min-width: 50px;
  max-width: 600px;
  width: calc(100% - 250px);
  float: left;


  .TextReset {
    margin: 32px 32px 16px 124px;
    font-size: 24px;
    font-weight: 400;
    line-height: 38px;
  }

  .CommentReset {
    margin: 0 32px 0 124px;
  }

  .ErrorComment {
    color: red;
  }

  form {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    margin-top: 32px;

    .Button {
      position: relative;
      max-width: 165px;
      margin-left: 194px;

      button {
        cursor: pointer;
        background: #3897f0;
        color: #fff;
        width: 100%;
        margin-top: 12px;
        border: none;
        border-radius: 3px;
        font-size: 14px;
        font-weight: 600;
        line-height: 26px;
        outline: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .DisabledButton {
        opacity: .3;
        cursor: default;
      }

      @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
      }

      @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }

      .Loading {
        height: 18px;
        margin-left: -9px;
        margin-top: -2px;
        width: 18px;
        background-image: url("./loading.png");
        -webkit-animation: spin 1s linear infinite;
        animation: spin 1s linear infinite;
        left: 50%;
        position: absolute;
        top: 50%;
        background-size: 100%;
      }
    }
  }
}

@media (max-width: 735px) {
  .Reset {
    padding: 16px;
    width: auto;

    .TextReset {
      margin-left: 0;
    }

    .CommentReset {
      margin: 0;
    }

    form {
      .Button {
        margin-left: 0;
      }
    }
  }
}